body {
    height: 1900px; 
}



/*
*{
    font-family: arial; 
}
.item {
    background-color: bisque;
    height: 100vh;
    
}

body {
    background-color: red;
}

.container-example {
    background-color: aquamarine;
    height: 50vh;
}

.container-fluid-example {
   background-color: lightpink;
    height: 50vh;  
}
*/
